{% extends 'temel.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="row" style="justify-content: center;">
  <img src="/images/kelepirBorsa_logo2.png" height="250">

</div>
<div class="row" style="justify-content: center;">
  <h1>Oturum Aç</h1>
</div>

<br>
{% for message in messages %}
  <p id="messages">{{message}}</p>
{% endfor %}
<br>
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form | crispy }}

  {{form.errors}}
  <button type="submit" name="button" class="btn btn-primary">Oturum aç</button>
  <div class="row" style="justify-content: center;">
    <p> Or login with social apps </p>
  </div>
  <div class="row" style="justify-content: center;">

    <a href="{% url 'social:begin' 'github' %}">
      <button type="button" name="button" class='btn btn-primary'>Github</button>
    </a>
    <a href="{% url 'social:begin' 'google-oauth2' %}">
      <button type="button" name="button" class='btn btn-danger'>Google</button>
    </a>
  </div>
</form>
<br>
<hr>

{% endblock %}
