{% extends 'temel.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<h1>Profil Günceleme Formu</h1>
<br>
  <div class="row">
    <div class="col-4">
      <div class="row">
        <img src="{{request.user.kullanici.resim.url}}" class="rounded-circle" width="304" height="236" >
      </div>
      <br><br>
      <div class="row">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">En Sıcak Kelepiri</th>
              <td>{{request.user.kullanici.ensicak}}</td>
            </tr>
            <tr>
              <th scope="row">Takipçiler</th>
              <td>{{request.user.kullanici.takipciler}}</td>
            </tr>
            <tr>
              <th scope="row">Paylaşımlar</th>
              <td>{{request.user.kullanici.paylasimlar}}</td>
            </tr>
            <tr>
              <th scope="row">Yorumlar</th>
              <td>{{request.user.kullanici.yorumlar}}</td>
            </tr>
          </tbody>
        </table>
         <br>

      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <br><br>
        <br><br>
        <br><br>

      </div>
      <br><br>
      <div class="row">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Kullanıcı Adı</th>
              <td>{{profil.username}}</td>
            </tr>
            <tr>
              <th scope="row">İsim</th>
              <td>{{profil.first_name}}</td>
            </tr>
            <tr>
              <th scope="row">Soy İsim</th>
              <td>{{profil.last_name}}</td>
            </tr>
            <tr>
              <th scope="row">Şehir</th>
              <td>{{kullanici.sehir}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="">

    <table class="table">
      <thead>
        <tr>

          <th scope="col">Kaydedilen kelepir</th>
          <th scope="col">#</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        {% for saved in bookmarked.all %}
        <tr>
          <td>saved.bookmarked</td>
          <td>#</td>
          <td>#</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>


  </div>

{% endblock %}
