{% extends 'temel.html' %}

{% block content %}
<br>
<h1 align=center>{{kullanici.username}}'in Profili</h1>
<br>
<div class="container">

  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img src="{{profil.resim.url}} " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Username: {{kullanici.username}}</h5>
          <p class="card-text">En Yüksek puanlı Kelepiri: {{profil.kullanici.ensicak}}</p>
          <p class="card-text">Kelepir Teslim Sayısı: {{kelepirler.count}}</p>
          <p class="card-text">Yorum Sayısı: </p>
          <p class="card-text">Takipçi Sayısı:</p>
          <p class="card-text"><i class="fab fa-instagram"></i> <a href="{{insta_handle}}">{{profil.insta}}</a> </p>
          {% if user == request.user and request.user.is_authenticated %}
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Teslim Edilmiş Kelipirleri</h5>

          <ul class="list-group">
            {% for kelepir in kelepirler %}
              {% if kelepir.aktif %}
                <li class="list-group-item"><a href="{% url 'madde_detay' kelepir.id %}">{{kelepir.baslik}}</a> - {{kelepir.derece}} puan - {{kelepir.fiyat}}₺</li>
              {% else %}
                <li class="list-group-item" style="color:Grey"><a style="color:Grey" href="{% url 'madde_detay' kelepir.id %}">{{kelepir.baslik}}</a> - {{kelepir.derece}} puan - {{kelepir.fiyat}}₺</li>
              {% endif %}
            {% endfor %}
          </ul>

        </div>
      </div>
    </div>
  </div>
<br><hr><br>


  {% if user == request.user and request.user.is_authenticated %}
    <h5>Sonraya Ayrılmış Kelepirler</h5>
    <ul class="list-group">
      {% for kelepir in bookmarked %}
        {% if kelepir.aktif %}
          <li class="list-group-item"><a href="{% url 'madde_detay' kelepir.id %}">{{kelepir.baslik}}</a> - {{kelepir.derece}} puan - {{kelepir.fiyat}}₺</li>
        {% else %}
          <li class="list-group-item" style="color:Grey"><a style="color:Grey" href="{% url 'madde_detay' kelepir.id %}">{{kelepir.baslik}}</a> - {{kelepir.derece}} puan - {{kelepir.fiyat}}₺</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  <br><hr><br>





{% endblock %}
