{% extends 'temel.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <img class="d-block mx-auto mb-4" src="/images/kelepirBorsa_logo2.png" alt="" width="80" height="80">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Oturum aç</h5>
          <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              {{ form | crispy }}
              <br>
            <div class="d-grid">
              <input class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" value="Kayıt Ol"/>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
