* {
  margin: 0px;
  padding: 0px;
  //font-family: 'Roboto', sans-serif;
}
.menu-bar {
  background-image: linear-gradient(-90deg, #3c6e71, #a83279);
}
.navbar-brand {
  color: #beee62!important;
  padding: 0;
  height: 40px;
  line-height: 40px;
}
.navText{
  font-family: 'Lobster', cursive;
  font-size: 40px;
}
.nav-link {
  font-size: 16px;
  margin: 3px;
  color: #fff!important;
  font-weight: 500;

}
.navbar-nav{
  text-align: right;
  margin-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}
.menu-bar .navbar-toggler {
  padding-right: 20px;
  outline: none!important;
  border: none!important:
}
.navbar .fa {
  color: #fff!important;
  font-size: 26px;
}
.nav-link:hover{

}

/* Style the input container */
.topnav .login-container {
  float: right;
}
