{% load static %}
<div class="header">
  <div class="menu-bar">
    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#"><i class="fas fa-fire-alt fa-2x"></i><span class="navText">Kelepir Bul</span></a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Tüm Kelepirler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ateşliler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Yeni fırsatlar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kuponlar</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Ara">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
          </form>
        </div>
      </nav>
    </div>
  </div>

</div>
