{% load static %}
<div class="header">
  <div class="menu-bar">

    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/"><i class="fas fa-fire-alt fa-2x"></i><span class="navText">Kelepir Borsa</span></a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Tüm Kelepirler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ensicakkel' %}">Ateşliler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'newdeals' %}">Yeni fırsatlar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'kuponlarindeksi' %}">Kuponlar</a>
            </li>
          </ul>


        </div>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Ara">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
        </form>
        <ul class="navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-plus-square"></i> Paylaş
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'paylas' %}"><i class="fas fa-tag"></i>  Kelepir Paylaş</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'kpaylas' %}"><i class="fas fa-hashtag"></i> Kupon Paylaş</a>
            </div>
          <li class="nav-item">
            <a class="btn btn-outline-light" href="{% url 'logout' %}">Oturumu kapat</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="btn btn-outline-light" href="{% url 'login' %}">Oturmu aç</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light" href="{% url 'register' %}">Kayıt ol</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

</div>
