{% extends 'temel.html' %}
{% load static %}
{% block content %}
<br>
<h1>Günün Kelepirleri</h1>
<br>

{% for kelepir in kelepirler.all %}
  {% if kelepir.aktif == True %}
    <div class="card mb-12" style="max-width: 1000px;">
      <div class="row no-gutters">
        <div class="col-md-3">
          <img src="{{kelepir.goruntu.url}}" style="width: 100%; height: 15vw;" class="card-img image-fluid">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="container-fluid">
            	<div class="row">
            		<div class="col-md-12">
            			<div class="row">
            				<div class="col-md-2">
                      <ul class="list-group list-group-horizontal-xl">
                        <li class="list-group-item">
                          <a href="{% url 'downvote' kelepir.id %}">
                              <i class="fas fa-minus" style="color:DodgerBlue;"></i>
                          </a>
                        </li>
                        <li class="list-group-item">{{ kelepir.derece }}°</li>
                        <li class="list-group-item">
                          <a href="{% url 'upvote' kelepir.id %}">
                            <span style="color:Tomato;">
                              <i class="fas fa-plus"></i>
                            </span>
                          </a>
                        </li>
                      </ul>
            				</div>
            				<div class="col-md-5">
            				</div>
            				<div class="col-md-3">
                      {% if kelepir.son_tarih %}{{ kelepir.son_tarih }}'de kelepir tükenir{% endif %}
            				</div>
            				<div class="col-md-2">
                      <small class="text-muted">3m ago</small>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
            <h5 class="card-title"> <a href="{{ kelepir.get_absolute_url }}">{{kelepir.baslik}}</h5></a>
            <p><span style="color:Tomato;"><b>{{kelepir.fiyat}}₺</b></span>  {{orjinalFiyat}}</p>
            <p class="card-text">{{kelepir.ayrintilar|truncatewords:30}}...
              <a href="{{ kelepir.get_absolute_url }}"><strong>devamını oku</strong></p></a>

            <div class="d-flex bd-highlight">

            		<div class="flex-grow-1 bd-highlight">
                  <p class="card-text"><strong>{{kelepir.paylasan}}</strong></p>
            		</div>
            		<div class="p-2 bd-highlight">
                  <button type="button" class="btn btn-outline-dark"><i class="far fa-bookmark"></i></button>
            		</div>
            		<div class="p-2 bd-highlight">
                  <button type="button" class="btn btn-outline-dark"><i class="fas fa-comments"></i> 0</button>
            		</div>
            		<div class="p-2 bd-highlight">
                  <a href="{{kelepir.url}}" type="button" class="btn btn-danger">Fırsatı Kap <i class="fas fa-external-link-alt"></i></a>
            		</div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <form id="upvote{{ kelepir.id }}" action="{% url 'upvote' kelepir.id %}" method="POST">
      {% csrf_token %}
      <input type="hidden">
    </form>
    <form id="downvote{{ kelepir.id }}" action="{% url 'downvote' kelepir.id %}" method="POST">
      {% csrf_token %}
      <input type="hidden">
    </form>
  {% else %}
  <div class="card bg-light border-secondary mb-12" style="max-width: 1000px;">
      <div class="row no-gutters">
        <div class="col-md-3">
          <img src="{{kelepir.goruntu.url}}" style="width: 100%; height: 15vw;" class="card-img image-fluid">
        </div>
        <div class="col-md-9">
          <div class="card-body text-secondary">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-2">
                      <ul class="list-group list-group-horizontal-xl">
                        <li class="list-group-item">
                            <span style="color:Grey;">
                              <i class="fas fa-minus" ></i>
                            </span>
                        </li>
                        <li class="list-group-item text-muted">{{ kelepir.derece }}°</li>
                        <li class="list-group-item">
                            <span style="color:Grey;"><i class="fas fa-plus"></i></span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-3">
                      <p class=text-muted>kelepir tükendi</p>
                      <p>{% if kelepir.son_tarih %}{{ kelepir.son_tarih }}'de kelepir tükenir{% endif %}</p>
                    </div>
                    <div class="col-md-2">
                      <small class="text-muted">3m ago</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h5 class="card-title text-muted"> <a class="card-title" href="{{ kelepir.get_absolute_url }}">{{kelepir.baslik}}</h5></a>
            <p><span style="color:Grey;"><b>{{kelepir.fiyat}}₺</b></span>  {{orjinalFiyat}}</p>
            <p class="card-text text-muted">{{kelepir.ayrintilar|truncatewords:30}}...
              <a href="{{ kelepir.get_absolute_url }}"><strong>devamını oku</strong></p></a>

            <div class="d-flex bd-highlight text-muted">

                <div class="flex-grow-1 bd-highlight text-muted">
                  <p class="card-text"><strong>{{kelepir.paylasan}}</strong></p>
                </div>
                <div class="p-2 bd-highlight">
                  <button type="button" class="btn btn-outline-dark"><i class="far fa-bookmark"></i></button>
                </div>
                <div class="p-2 bd-highlight">
                  <button type="button" class="btn btn-outline-dark"><i class="fas fa-comments"></i> 0</button>
                </div>
                <div class="p-2 bd-highlight">
                  <a href="{{kelepir.url}}" type="button" class="btn btn-secondary">Fırsatı Kap <i class="fas fa-external-link-alt"></i></a>
                </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  {% endif %}
{% endfor %}
{% endblock %}
<!-- Photo by <a href="https://www.pexels.com/photo/person-holding-paper-bag-and-face-mask-3987245/">Anna</a> Shvets from Pexels -->
