{% extends 'temel.html' %}
{% load static %}
{% block content %}
{% load i18n %}
{% load comment_tags %}



<br>

<!-- Nav Tabs -->
<ul class="nav nav-tabs mt-1 ">
  <li class="nav-item ">
    <a class="nav-link link-warning bg-primary" href="/"><i class="fa-regular fa-rectangle-list"></i> Tümü</a>
  </li>
  {% for kat in katagoriler.all %}
  <li class="nav-item ">
    <a class="nav-link link-warning bg-primary" href="{% url 'dealcategory' kat.id %}"><i class="{{kat.ikon}}"></i> {{kat.kategori}}</a>
  </li>
  {% endfor %}
</ul>
<!-- End of Nav Tabs -->


<div class="container">
  <div class="row justify-content-start g-2">
    <!-- Left Column	-->
    <div class="col-9">

      {% for kelepir in kelepirler %}
          <div class="herkelepir">
            {%  include 'madde/partials/madde.html' %}
          </div> 
      {% endfor %}

    </div> <!-- Sol kolon sonu  -->
    <!-- End Left Columns	 -->	
    <!-- Right column	 -->
    
    <div class="col-3">
      <div class="card my-2 g-0">
        <div class="card-body">
          <p class="text-primary"> Haftanın En İyi Kelepirleri </p>

          {% for kelepir in haftanin.all %}
            {% if kelepir.aktif %}
              <div class="card my-2 mx-1 border-0" style="">
                <div class="row g-0">
                <div class="col-md-5" style="">
                  <img src="{{kelepir.goruntu.url}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                  <span class="text-danger"> {{kelepir.derece}}% </span> 
                    <a href="{% url 'madde_detay' kelepir.id %}"><small>{{kelepir.baslik|truncatewords:5|safe}}</a>{{kelepir.fiyat}}₺</small>
                  </div>
                </div>
                </div>
              </div>
              {% else %}
              <div class="card my-2 mx-1 border-0" style="color:Grey">
                  <div class="row g-0">
                  <div class="col-md-5" style="">
                    <img src="{{kelepir.goruntu.url}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                    <span class="text-danger"> {{kelepir.derece}}% </span> 
                      <a style="color:Grey" href="{% url 'madde_detay' kelepir.id %}"> <small> {{kelepir.baslik|truncatewords:30|safe}}</a>{{kelepir.fiyat}}₺ </small>
                    </div>
                  </div>
                  </div>
                </div>
              {% endif %}
          {% endfor %}
        </div>
      </div>
  </div> <!-- Sag kolon sonu -->
</div> <!-- End of row for both columns -->


      <script type="text/javascript">
      // JQUERY - AJAX SCRIPT FOR voting
      $(document).ready(function(){
        $('.vote_action').click(function(e) {
          //get closest div
          var selector = $(this).closest('div.herkelepir');
          var button = $(this).attr("value");
          var counter = selector.find('.kel_puanlar').attr('id').split('_');
          // get span data
          var maddeid = selector.find("span[id=kelepir_"+counter[1]+"]").attr('data-value');

          console.log("maddeID-->"+maddeid+"Button-->"+button+"counter[1]-->"+counter[1])
          e.preventDefault();
          $.ajax({
            type: 'POST',
            url: '{% url "vote" %}',

            data: {
              maddeid: maddeid,
              csrfmiddlewaretoken: '{{ csrf_token }}',
              action: 'postvote',
              button: button,
            },
            success: function(json){
              if (json.length < 1 || json == undefined) {
                //empty
              }
              //selector.find('.kel_puanlar').text(json['result']);
              $("#puanlar_"+counter[1]).text(json['result']);
              $("#uvb_"+counter[1]).removeClass( "btn btn-success" ).addClass("btn btn-secondary disabled");
              $("#dvb_"+counter[1]).removeClass( "btn btn-danger" ).addClass("btn btn-secondary disabled");
            },
            error: function(xhr, errmsg, err) {}
          })
        })

      })
      </script>
{% endblock %}

{% block scripts %}
{% endblock %}
