{% extends 'temel.html' %}
{% load static %}
{% load social_share %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}
{% block content %}
<br>
<h1>{{madde.baslik}}</h1>
<br>
{% if madde.aktif == True %}
<div class="card mb-12" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-3">
      <img src="{{madde.goruntu.url}}" style="width: 100%; height: 15vw;" class="card-img image-fluid">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="container-fluid">
        	<div class="row">
        		<div class="col-md-12">
        			<div class="row">
        				<div class="col-md-2">

                    {% if request.user.is_authenticated %}
                    {% if request.user in madde.oyveren.all %}
                      <button class="btn btn-secondary" disabled data-toggle="tooltip" title="Şu kelipirde oy vermişsiniz" role="button">
                        <i class="fas fa-plus"></i></button>
                      <button class="btn btn-outline" id="puanlar">%{{madde.derece}}</span>
                      <button class="btn btn-secondary" disabled data-toggle="tooltip" title="Şu kelepirde oy vermişsiniz" role="button">
                        <i class="fas fa-minus"></i></button>
                    {% else %}
                      <span id="vote_id" data-value="{{madde.id}}"></span>
                      <button class="btn btn-success vote_action" value="upvote_button"><i class="fas fa-plus"></i></button>
                      <span class="btn btn-outline" id="puanlar">%{{madde.derece}}</span>
                      <button class="btn btn-danger vote_action" value="downvote_button"><i class="fas fa-minus"></i></button>
                    {% endif %}
                  {% else %}
                        <a href="{% url 'login' %}" class="btn btn-success"><i class="fas fa-plus"></i></a>
                        <span class="btn btn-outline" id="puanlar">%{{madde.derece}}</span>
                        <a href="{% url 'login' %}" class="btn btn-danger"><i class="fas fa-minus"></i></a>
                  {% endif %}

        				</div>
        				<div class="col-md-10">
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <br>
        <p><span style="color:Tomato;"><b>{{madde.fiyat}}₺</b></span>
          {% if madde.orjinalFiyat %}<span style="text-decoration: line-through;"> {{madde.orjinalFiyat}}</span> % {{pdiff}} fark!{% endif %}</p>
        <div class="card">
          <div class="card-body">
            {% if madde.son_tarih %} <i class="far fa-calendar-times"></i> {{ madde.son_tarih|date:"SHORT_DATE_FORMAT" }}'de kelepir tükenir {% endif %}
            {% if madde.bas_tarih %} <i class="far fa-calendar-alt"></i> {{madde.bas_tarih|date:"SHORT_DATE_FORMAT"}} |{% endif %} <i class="fas fa-calendar-day"></i>  Paylaşma Tarihi {{madde.duyurmaTarihi|date:"SHORT_DATE_FORMAT"}}
          </div>
        </div>

        <div class="d-flex bd-highlight">

        		<div class="flex-grow-1 bd-highlight">
              <br> <p class="card-text"><strong><a href="{% url 'profil_detay' madde.paylasan.id %}">{{madde.paylasan}}</a></strong></p>
        		</div>
            <div class="p-2 bd-highlight">
              {% if request.user.is_authenticated %}
                  {% if bookmarked %}
                    <a href="{% url 'bookmark' madde.id %}" class="btn btn-outline-dark btn-lg"><i class="fas fa-bookmark"></i></a>
                  {% else %}
                    <a href="{% url 'bookmark' madde.id %}" class="btn btn-outline-dark btn-lg"><i class="far fa-bookmark"></i></a>
                  {% endif %}
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-dark btn-lg"><i class="far fa-bookmark"></i></a>
              {% endif %}
            </div>
        		<div class="p-2 bd-highlight">
              <a href="#commentsarea" type="button" class="btn btn-outline-dark" ><i class="fas fa-comments"></i> {{comments.count}}</a>
        		</div>
        		<div class="p-2 bd-highlight">
              <a href="{{madde.url}}" type="button" class="btn btn-danger">Fırsatı Kap <i class="fas fa-external-link-alt"></i></a>
        		</div>

            </div>
            <p class="card-text">{{madde.ayrintilar|safe}}</p>
            <hr>
              <div class="row">
                {% post_to_facebook object_or_url "Post to Facebook!" %}
                {% post_to_twitter "Yeni bi kelepir!: {{madde.baslik}}. Check it out!" object_or_url "Post to Twitter" %}
                {% post_to_gplus object_or_url "Post to Google+!" %}
                {% post_to_linkedin object_or_url %}
                {% post_to_reddit "Yeni bi kelepir!: {{madde.baslik}}" object_or_url %}
                {% post_to_telegram "Yeni bi kelepir!: {{madde.baslik}}" object_or_url %}
                {% post_to_whatsapp object_or_url "Share via WhatsApp" %}
              </div>

            <hr>

            <div class="row">
              <div class="text-left col-md-3">
                <a href="#commentsarea"><i class="fas fa-comment-medical"></i> Yorum ekle</a>
              </div>
              <div class="text-left col-md-3">
                {% if request.user.is_authenticated %}
                  <a href="{% url 'expire' madde.id %}" class="btn btn-outline-dark btn-lg"><i class="fas fa-hourglass-end"></i> Tükendimi? </a>
                {% else %}
                  <a href="{% url 'login' %}" class="btn btn-outline-dark btn-lg"><i class="fas fa-hourglass-end"></i> Tükendimi? </a>
                {% endif %}
              </div>
              <div class="text-left col-md-3">
                <a href="#"><i class="fas fa-flag"></i> İhbar et</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="card mb-12" style="max-width: 1000px;">
      <div class="row no-gutters">
        <div class="col-md-3">
          <img src="{{madde.goruntu.url}}" style="width: 100%; height: 15vw; opacity: 0.5" class="card-img image-fluid">
        </div>
        <div class="col-md-9">
          <div class="card-body text-secondary">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-5">
                      <button type="button" class="btn btn-outline-secondary btn" disabled>{{ madde.derece }}° <i class="fas fa-hourglass-end"></i> kelepir tükendi</button>
                    </div>
                    <div class="col-md-7">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <p><span style="color:Grey;"><b>{{madde.fiyat}}₺</b></span>
              <span style="text-decoration: line-through;"> {{madde.orjinalFiyat}}</span>{% if madde.orjinalFiyat %} % {{pdiff}} fark!{% endif %}</p>
            </p>
            <div class="card">
              <div class="card-body">
                <p class="text-muted">kelepir tükendi</p>
                {% if madde.son_tarih %} <i class="far fa-calendar-times"></i> {{ madde.son_tarih|date:"SHORT_DATE_FORMAT" }}'de kelepir tükenir {% endif %}
                {% if madde.bas_tarih %} <i class="far fa-calendar-alt"></i> {{madde.bas_tarih|date:"SHORT_DATE_FORMAT"}} |{% endif %} <i class="fas fa-calendar-day"></i>  Paylaşım Tarihi {{maddeler.duyurmaTarihi|date:"SHORT_DATE_FORMAT"}}
              </div>
            </div>

            <div class="d-flex bd-highlight">

                <div class="flex-grow-1 bd-highlight">
                  <br> <p class="card-text"><strong>{{madde.paylasan}}</strong></p>
                </div>
                <div class="p-2 bd-highlight">
                  {% if request.user.is_authenticated %}
                      {% if bookmarked %}
                        <a href="{% url 'bookmark' madde.id %}" class="btn btn-outline-dark btn-lg"><i class="fas fa-bookmark"></i></a>
                      {% else %}
                        <a href="{% url 'bookmark' madde.id %}" class="btn btn-outline-dark btn-lg"><i class="far fa-bookmark"></i></a>
                      {% endif %}
                  {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-dark btn-lg"><i class="far fa-bookmark"></i></a>
                  {% endif %}
                </div>
                <div class="p-2 bd-highlight">
                  <a href="#commentsarea" type="button" class="btn btn-outline-dark" ><i class="fas fa-comments"></i> {{comments.count}}</a>
                </div>
                <div class="p-2 bd-highlight">
                  <a href="{{madde.url}}" type="button" class="btn btn-secondary">Fırsatı Kap <i class="fas fa-external-link-alt"></i></a>
                </div>

                </div>
                <p class="card-text">{{madde.ayrintilar|safe}}</p>
                <hr>
                {% include 'shareto.html' %}
                <hr>

                <div class="row">
                  <div class="text-left col-md-3">
                    <a href="#commentsarea"><i class="fas fa-comment-medical"></i> Yorum ekle</a>
                  </div>
                  <div class="text-left col-md-3">
                    <a href="#"><i class="fas fa-hourglass-end"></i> Tükendimi? </a>
                  </div>
                  <div class="text-left col-md-3">
                    <a href="#"><i class="fas fa-flag"></i> İhbar et</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
    {% endif %}
    <div class="card mb-12" style="max-width: 1000px;">
      <div class="row no-gutters">
      <div class="card-body">


        <!-- comments -->
        <a id="commentsarea"></a>

        <h5>Şu teslime, {{comments.count}} yorum var. </h5>
        <br>
        <hr>
        {% if madde.allow_comments %}
          <div class="comment">
            <h5 class="text-center">Post your comment</h5>
            <div class="well my-4">
              {% render_comment_form for madde %}
            </div>
          </div>
        {% else %}
          <h5 class="text-center">comments are disabled for this article</h5>
        {% endif %}

        <hr>
        <h2>Top Comments</h2>
        <div class="">

        </div>

        <hr>
        <div class="">
          {% render_xtdcomment_tree for madde allow_flagging allow_feedback show_feedback  %}
        </div>

        <script type="text/javascript">

          // JQUERY - AJAX SCRIPT FOR voting
          $(document).ready(function(){
            $('.vote_action').click(function(e) {
              var maddeid = document.getElementById('vote_id').getAttribute('data-value');
              var button = $(this).attr("value");
              e.preventDefault();
              $.ajax({
                type: 'POST',
                url: '{% url "vote" %}',

                data: {
                  maddeid: maddeid,
                  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                  action: 'vote_id',
                  button: button,
                },
                success: function(json){
                  if (json.length < 1 || json == undefined) {
                    //empty
                  }
                  document.getElementById("puanlar").innerHTML = json['result']
                },
                error: function(xhr, errmsg, err) {}
              })
            })
          })
        </script>
{% endblock %}

{% block scripts %}
{% endblock %}
