{% extends 'temel.html' %}
{% load static %}
{% load social_share %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<h1>{{madde.baslik}}</h1>
<br>
{% if madde.aktif == True %}
<div class="card mb-12" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-3">
      <img src="{{madde.goruntu.url}}" style="width: 100%; height: 15vw;" class="card-img image-fluid">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="container-fluid">
        	<div class="row">
        		<div class="col-md-12">
        			<div class="row">
        				<div class="col-md-2">
                  <div class="btn-group">
                    {% if request.user.is_authenticated %}
                      {% if request.user in madde.oyveren.all %}
                        <button class="btn btn-secondary" disabled><i class="fas fa-minus"></i></button>
                        <span class="btn btn" id="puanlar"disabled>{{madde.derece}}°</span>
                        <button class="btn btn btn-secondary"disabled><i class="fas fa-plus"></i></button>
                      {% else %}
                        <button class="btn btn-danger" id="downvote_button" value="{{madde.id}}"><i class="fas fa-minus"></i></button>
                        <span class="btn btn" id="puanlar" disabled>{{madde.derece}}°</span>
                        <button class="btn btn-success" id="upvote_button" value="{{madde.id}}"><i class="fas fa-plus" ></i></button>
                      {% endif %}
                    {% else %}
                      <a href="{% url 'login' %}" class="btn btn-danger"><i class="fas fa-minus"></i></a>
                      <span class="btn btn" id="puanlar" disabled>{{madde.derece}}°</span>
                      <a href="{% url 'login' %}" class="btn btn-success"><i class="fas fa-plus"></i></a>
                    {% endif %}
                  </div>
        				</div>
        				<div class="col-md-10">
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <br>
        <p><span style="color:Tomato;"><b>{{madde.fiyat}}₺</b></span>
          <span style="text-decoration: line-through;"> {{madde.orjinalFiyat}}</span></p>
        <div class="card">
          <div class="card-body">
            {% if madde.son_tarih %} <i class="far fa-calendar-times"></i> {{ madde.son_tarih|date:"SHORT_DATE_FORMAT" }}'de kelepir tükenir {% endif %}
            {% if madde.bas_tarih %} <i class="far fa-calendar-alt"></i> {{madde.bas_tarih|date:"SHORT_DATE_FORMAT"}} |{% endif %} <i class="fas fa-calendar-day"></i>  Paylaşma Tarihi {{madde.duyurmaTarihi|date:"SHORT_DATE_FORMAT"}}
          </div>
        </div>

        <div class="d-flex bd-highlight">

        		<div class="flex-grow-1 bd-highlight">
              <br> <p class="card-text"><strong><a href="{% url 'profil_detay' madde.paylasan.id %}">{{madde.paylasan}}</a></strong></p>
        		</div>
            <div class="p-2 bd-highlight">
              {% if request.user.is_authenticated %}
                  {% if bookmarked %}
                    <a href="{% url 'bookmark' madde.id %}" class="btn btn-outline-dark btn-lg"><i class="fas fa-bookmark"></i></a>
                  {% else %}
                    <a href="{% url 'bookmark' madde.id %}" class="btn btn-outline-dark btn-lg"><i class="far fa-bookmark"></i></a>
                  {% endif %}
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-dark btn-lg"><i class="far fa-bookmark"></i></a>
              {% endif %}
            </div>
        		<div class="p-2 bd-highlight">
              <a href="#commentsarea" type="button" class="btn btn-outline-dark" ><i class="fas fa-comments"></i> {{yorumlar.count}}</a>
        		</div>
        		<div class="p-2 bd-highlight">
              <a href="{{madde.url}}" type="button" class="btn btn-danger">Fırsatı Kap <i class="fas fa-external-link-alt"></i></a>
        		</div>

            </div>
            <p class="card-text">{{maddeler.ayrintilar}}</p>
            <hr>

              {% include 'shareto.html' %}

            <hr>

            <div class="row">
              <div class="text-left col-md-3">
                <a href="#commentsarea"><i class="fas fa-comment-medical"></i> Yorum ekle</a>
              </div>
              <div class="text-left col-md-3">
                {% if request.user.is_authenticated %}
                  <a href="{% url 'expire' madde.id %}" class="btn btn-outline-dark btn-lg"><i class="fas fa-hourglass-end"></i> Tükendimi? </a>
                {% else %}
                  <a href="{% url 'login' %}" class="btn btn-outline-dark btn-lg"><i class="fas fa-hourglass-end"></i> Tükendimi? </a>
                {% endif %}
              </div>
              <div class="text-left col-md-3">
                <a href="#"><i class="fas fa-flag"></i> İhbar et</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="card mb-12" style="max-width: 1000px;">
      <div class="row no-gutters">
        <div class="col-md-3">
          <img src="{{madde.goruntu.url}}" style="width: 100%; height: 15vw; opacity: 0.5" class="card-img image-fluid">
        </div>
        <div class="col-md-9">
          <div class="card-body text-secondary">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-5">
                      <button type="button" class="btn btn-outline-secondary btn" disabled>{{ madde.derece }}° <i class="fas fa-hourglass-end"></i> kelepir tükendi</button>
                    </div>
                    <div class="col-md-7">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <p><span style="color:Grey;"><b>{{madde.fiyat}}₺</b></span>
              <span style="text-decoration: line-through;"> {{madde.orjinalFiyat}}</span></p>
            <div class="card">
              <div class="card-body">
                <p class="text-muted">kelepir tükendi</p>
                {% if madde.son_tarih %} <i class="far fa-calendar-times"></i> {{ madde.son_tarih|date:"SHORT_DATE_FORMAT" }}'de kelepir tükenir {% endif %}
                {% if madde.bas_tarih %} <i class="far fa-calendar-alt"></i> {{madde.bas_tarih|date:"SHORT_DATE_FORMAT"}} |{% endif %} <i class="fas fa-calendar-day"></i>  Paylaşım Tarihi {{maddeler.duyurmaTarihi|date:"SHORT_DATE_FORMAT"}}
              </div>
            </div>

            <div class="d-flex bd-highlight">

                <div class="flex-grow-1 bd-highlight">
                  <br> <p class="card-text"><strong>{{madde.paylasan}}</strong></p>
                </div>
                <div class="p-2 bd-highlight">
                  {% if request.user.is_authenticated %}
                      {% if bookmarked %}
                        <a href="{% url 'bookmark' madde.id %}" class="btn btn-outline-dark btn-lg"><i class="fas fa-bookmark"></i></a>
                      {% else %}
                        <a href="{% url 'bookmark' madde.id %}" class="btn btn-outline-dark btn-lg"><i class="far fa-bookmark"></i></a>
                      {% endif %}
                  {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-dark btn-lg"><i class="far fa-bookmark"></i></a>
                  {% endif %}
                </div>
                <div class="p-2 bd-highlight">
                  <a href="#commentsarea" type="button" class="btn btn-outline-dark" ><i class="fas fa-comments"></i> {{yorumlar.count}}</a>
                </div>
                <div class="p-2 bd-highlight">
                  <a href="{{madde.url}}" type="button" class="btn btn-secondary">Fırsatı Kap <i class="fas fa-external-link-alt"></i></a>
                </div>

                </div>
                <p class="card-text">{{madde.ayrintilar}}</p>
                <hr>
                {% include 'shareto.html' %}
                <hr>

                <div class="row">
                  <div class="text-left col-md-3">
                    <a href="#commentsarea"><i class="fas fa-comment-medical"></i> Yorum ekle</a>
                  </div>
                  <div class="text-left col-md-3">
                    <a href="#"><i class="fas fa-hourglass-end"></i> Tükendimi? </a>
                  </div>
                  <div class="text-left col-md-3">
                    <a href="#"><i class="fas fa-flag"></i> İhbar et</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
    {% endif %}
    <div class="card mb-12" style="max-width: 1000px;">
      <div class="row no-gutters">
      <div class="card-body">
        <!-- comments -->
        <a id="commentsarea"></a>
        {% for yorum in yorumlar %}
          <div class="card comments" style="width: 100%;">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{ yorum.kullanici}} {{ yorum.created_on }}</h6>
              <p class="card-text">{{ yorum.body |safe }}</p>

            <a class="likebutton btn btn-primary btn-sm" id="commentlike{{ comment.id }}" href="#" data-catid="{{ comment.id }}">Like</a> </p>
            <p id="message{{comment.id}}"></p>

              - Beyen Sayısı {{yorum.total_likes}}
            </div>
            </div>
            <div class="comments" style="padding: 10px;">
              <p class="font-weight-bold">

                <span class=" text-muted font-weight-normal">

                </span>
              </p>

            </div>
        {% endfor %}
        <script type="text/javascript">

        $('#myForm').trigger("reset");

          $(document).on('click', '#upvote_button', function (e) {
            e.preventDefault();
            $.ajax({
              type: 'POST',
              url: '{% url "upvote" %}',
              data: {
                maddeid: $('#upvote_button').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
              },
              success: function (json) {
                document.getElementById("puanlar").innerHTML = json['result']
                console.log(json)
              },
              error: function (xhr, errmsg, err) {

              }
            });
          })

        </script>
      </div>
  </div>
  <div class="pagination">
    <ul class="pagination">
      {% if yorumsayfasi.has_previous %}
        <li class="page-item">
          <a href="?page=1" class="page-link">&laquo; first</a>
          <a href="?page={{ yorumsayfasi.previous_page_number }}" class="page-link">previous</a>
        </li>
      {% endif %}
      {% for y in page_range %}
        {% if yorumsayfasi.number == y %}
          <li class="page-item active"> <a href="?page={{ y }}" class="page-link">{{ y }}</a> </li>
        {% else %}
          <li class="page-item"> <a href="?page={{ y }}" class="page-link">{{ y }}</a> </li>
        {% endif %}
      {% endfor %}
      {% if yorumsayfasi.has_next %}
          <a href="?page={{ yorumsayfasi.next_page_number }}" class="page-link">next</a>
          <a href="?page={{ yorumsayfasi.paginator.num_pages }}" class="page-link">last &raquo;</a>
      {% endif %}
    </ul>
  </div>
  <div class="card mb-12" style="max-width: 1000px;">
    <div class="card-body">
      {% if new_comment %}
      <div class="alert alert-success" role="alert">
        Your comment is awaiting moderation
      </div>
      {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form|crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
      {% endif %}
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
