{% extends 'temel.html' %}
{% load static %}
{% load social_share %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load comment_tags %}

{% block content %}

<div class="card col-9 align-self-center my-2 mx-auto" >
  {% if madde.aktif == True %}
    {% if madde.son_tarih %}
      <div class="col-11 mx-auto my-2 alert alert-warning " role="alert">
        <p class="text-center"> <i class="far fa-calendar-times"></i> Şu kelepir {{ madde.son_tarih|date:"SHORT_DATE_FORMAT" }} tarihde tükenir!</p>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-5">
        <img src="{{madde.goruntu.url}}" style="width: 100%;" class="card-img image-fluid">
      </div>
      <div class="col-7">
        <!-- Score row -->
        <div class="row pe-2 my-2 d-flex justify-content-between">
          <!-- Voting Buttons -->
          <div class="col-3 d-flex justify-content-start">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
            {% if request.user.is_authenticated %}
                {% if request.user in madde.oyveren.all %}
                    <button type="button" class="btn btn-danger rounded-start-pill" disabled data-toggle="tooltip" title="Şu kelipirde oy vermişsiniz"><i class="bi bi-dash-lg"></i></button>
                    <button class="list-group-item list-group-item-action list-group-item-light disabled px-2"> {{madde.derece}}% </button>
                    <button type="button" class="btn btn-success rounded-end-pill" disabled data-toggle="tooltip" title="Şu kelipirde oy vermişsiniz"><i class="bi bi-plus"></i></button>
                {% else %}
                    <span id="madde_{{forloop.counter}}" data-value="{{madde.id}}"></span>
                    <button type="button" hx-post="{% url 'downvote' madde.id %}" 
                    hx-target="#madde{{madde.id}}"
                    class="kel_puanlar btn btn-danger rounded-start-pill vote_action"><i class="bi bi-dash-lg"></i></button>
                    <button class="list-group-item list-group-item-action list-group-item-light disabled px-2"> {{madde.derece}}% </button>
                    <button type="button" hx-post="{% url 'upvote' madde.id %}" 
                    hx-target="#madde{{madde.id}}"
                    class="btn btn-success rounded-end-pill vote_action"  ><i class="bi bi-plus"></i></button>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-danger rounded-start-pill" ><i class="bi bi-dash-lg"></i></a>
                <button class="list-group-item list-group-item-action list-group-item-light disabled px-2"> {{madde.derece}}% </button>
                <a href="{% url 'login' %}" class="btn btn-success rounded-end-pill" ><i class="bi bi-plus"></i></a>
            {% endif %}
            </div>
          </div>

          <!-- No of comments -->
          <div class="col-3 d-flex justify-content-end">
            <button class="btn btn-outline-primary rounded-pill"><i class="bi bi-chat-right-quote"></i>  </button>
          </div>
        </div> <!-- end of score row -->
        
        <!-- Date posted row -->
        <div class="row text-secondary">
          <div class="col-11">
            {{madde.duyurmaTarihi|date:"SHORT_DATE_FORMAT"}} <i class="fas fa-calendar-day"></i> {{madde.duyurmaTarihi|timesince}} evel paylaşıldı
          </div>
        </div>
        <!-- End of date posted row -->
        <!-- Title Row -->
        <div class="row">
          <div class="col-11">
            <h4>{{madde.baslik}}</h4>
          </div>
        </div>
        <!-- End of title row -->
        <!-- Price row -->
          <h1><span style="color:Tomato;"><b>{{madde.fiyat}}₺</b></span></h1>
          <p>
            {% if madde.orjinalFiyat %}<span style="text-decoration: line-through;"> {{madde.orjinalFiyat}}</span> % {{pdiff}} fark!{% endif %}
            {% if madde.kargo == True %}<i class="bi bi-truck"></i> Kargo Bedava </p>{% endif %}
          </p>
        <!-- end of price row -->
        <!-- Button Row -->
        <div class="row d-grid d-md-flex col-12">
          
            <a href="{{kelepir.url}}" class="btn btn-primary btn-lg rounded-pill col-6">Fırsatı Kap  <i class="bi bi-box-arrow-up-right"></i> </a>
          
            {% if madde.kupon %}
              <button class="btn btn-outline-primary btn-lg rounded-pill col-6">{{ madde.kupon }}</button>
            {% endif %}
        </div>
        <!-- end of button row -->

        <!-- User icon row -->
          <div class="row">
            <div class="col-1"><i class="bi bi-person-circle"></i></div>
            <div class="col-5">
              <a href="{% url 'profil_detay' madde.paylasan.id %}">{{madde.paylasan}}
                tarafından paylaşılmıştır.
              </a>
            </div>
          </div>
        <!-- End of user icon row -->
      </div>
    </div>
  {% else %}
    {% if madde.son_tarih %}
      <div class="col-11 mx-auto my-2 alert alert-warning" role="alert">
        <p> <i class="far fa-calendar-times"></i> Şu kelepir {{ madde.son_tarih|date:"SHORT_DATE_FORMAT" }} tarihde tükenir!</p>
      </div>
    {% endif %}
  {% endif %}
</div>
    
    
    


{% endblock %}

{% block scripts %}
{% endblock %}
